ion-content {
  background: linear-gradient(to bottom, #fdc830, #f37335);
}

h2 {
  color:black;
  font-size: 35px;
  text-align:center;
}

p{
  color: ivory;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-family: 'Georgia', Arial, Helvetica, sans-serif, monospace;
}

ion-item {
background-color: antiquewhite
}

.avatar {

 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid black;
  padding: 5px;
  width: 150px;

}


