ion-content {
  background: linear-gradient(to bottom, #fdc830, #f37335);
}

h2 {
  color:black;
  font-size: 35px;
  text-align:center;
}

p{
  color:black;
  font-size: 20px;
  text-align: justify;
  font-family: 'Georgia', Arial, Helvetica, sans-serif, monospace;
}

ion-item {
background-color: antiquewhite
}


